body {
    background-color: #efefd0;
}

h1, h2 {
    color: #004e89;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 1.625em;
}

ul, p {
    color: #3A5050;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.000em;
}

ul {
    list-style-type: none;
}